@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant light (&:where([data-theme=light], [data-theme=light] *));


:root {
    font-family: "Geist",'MADE GoodTime Script', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: #000000;
    --bg: #ffffff;
    --fg: #000000;
    --primary: #000000;
    --btn-bg: #000000;
    --btn-fg: #ffffff;

}

@theme {
    --color-midnight: #121063;
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;
    --color-foreground: oklch(70.8% 0 0);
    --color-secondary: oklch(97% 0 0);
    --color-solidtext: #000000;
}



::selection {
    background-color: var(--fg);
    color: var(--bg);
}

html[data-theme="dark"] {
    --bg: #0a0a0a;
    /* page background in dark */
    --fg: #f5f5f5;
    /* text color in dark */
    --primary: #ffffff;
    --secondary: #0a0a0a;
    --tertiary: #9aa0a6;
    --btn-bg: #ffffff;
    --btn-fg: #000000;
}


body {
    margin: 0;
    cursor: auto;
    padding: 10px;
    min-height: 100vh;
    scroll-behavior: smooth;
    background-color: var(--bg);
    color: var(--fg);
}


h1 {
    font-size: 3em;
    line-height: 1.1;
}

h2 {
    font-size: 2.16em;
    line-height: 1.1;
}

h3 {
    font-size: 1.625em;
    line-height: 1.1;
}